@tailwind base;
@tailwind components;
@tailwind utilities;
.divcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divbetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}